<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="e35_scala281">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.maven.ide.eclipse.scala_feature.feature.group" version="0.2.3"/>
<repository location="http://alchim31.free.fr/m2e-scala/update-site/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.5.2.r352_v20100108-7r88FEwFI0WTuoBl0iaG0tyhfZH6"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.5.0.v200906151043"/>
<unit id="org.eclipse.zest.feature.group" version="1.1.2.v20100111-1352-6618yD6DH8G6N59OM53B2A"/>
<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.1.1.v200908102300-7B77FZ6F7RZHKDIwRlOwUN"/>
<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="3.1.1.v200908102300-7B5FRHDhdMOGnoekn4gtEJxSmPxV"/>
<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="3.1.1.v20090727b-7B3DPAtJZRZxULQRALIM4256"/>
<unit id="org.eclipse.wst.web_core.feature.feature.group" version="3.1.1.v200908120400-7H77FDCAT7oGlivgHN1M2RkCBHz0"/>
<unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.1.2.v200911241834-7I6FPpEtEnGx_Csz-6wI8hoH_MRt"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.1.1.v200907161031-7C7OFPiF7RZHKFHgU1LkY6"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.maven.ide.eclipse.feature.feature.group" version="0.12.1.20110112-1712"/>
<repository location="http://m2eclipse.sonatype.org/sites/m2e"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e35"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e35"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e35"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.4.20110304_0338-e5aff47-dev-e35"/>
<repository location="http://download.eclipse.org/technology/swtbot/galileo/dev-build/update-site"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.contribution.weaving.feature.group" version="2.1.1.e35x-release-20101021-0900"/>
<unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.0.0.v20090817"/>
<unit id="org.scala-ide.sdt.weaving.feature.feature.group" version="1.0.0.201105062332-wip_exp_backport"/>
<unit id="org.scala-ide.sdt.feature.feature.group" version="1.0.0.201105062332-wip_exp_backport"/>
<repository location="http://download.scala-ide.org/nightly-update-wip-exp-backport-2.8.1.final"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-server
-XX:PermSize=256m
-XX:MaxPermSize=384m
-Xss2m
-Xms512m
-Xmx2g
-XX:+DoEscapeAnalysis
-XX:+UseConcMarkSweepGC
-XX:+HeapDumpOnOutOfMemoryError
-XX:+CMSClassUnloadingEnabled
-Dosgi.requireJavaVersion=1.6
-Dosgi.framework.extensions=org.eclipse.equinox.weaving.hook
-Declipse.p2.unsignedPolicy=allow</vmArgs>
</launcherArgs>
</target>
